@font-face {
    font-family: Raleway;
    src:
      url(./Raleway-Regular.ttf) format('truetype'),
      url(./Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Raleway;
    src:
      url(./Raleway-Bold.ttf) format('truetype'),
      url(./Raleway-Bold.ttf) format('truetype');
    font-weight: bold;
    font-display: swap;
  }